/* Начало сброса стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
object, video, embed {
    max-width: 100%;
}
html {
    height: 100%;
}
body {
    font: 12px Gilroy, sans-serif;
    color: #786253;
    height: 100%;
    background-color: #fff;
    scrollbar-base-color: #e1b082;
    scrollbar-track-color: #dfdfdf;
}
ul {
    list-style:  none;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
strong {
    font-weight: 800 !important;
}
em {
    font-style: italic !important;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Окончания сброса стилей */
/* Шрифты */
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Контейнер для всего сайта */
html.fixed {
    overflow: hidden;
    position: absolute;
    left: -17px;
    right: 0;
    top: 0;
    bottom: 0;
}
html.fixed #main-header {
    left: 0;
}
#wrapper {
    z-index: 0;
    width: 100%;
    overflow: hidden;
}
#preloader {
    background: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}
#preloader img {
    display: block;
}
#overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: none;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    cursor: default;
    overflow: hidden;
}
#overlay:target, #overlay-2:target, #overlay-3:target {
    display: block;
}
.scrollbtn {
    background: url(../img/scroll.png) left top no-repeat;
    width: 50px;
    height: 27px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 30;
    text-indent: -9999px;
    opacity: 0.8;
}
#call-me {
    display: block;
    position: fixed;
    z-index: 4;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    cursor: pointer;
}
.btn-menu {
    display: none;
    position: relative;
    z-index: 6;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-top: -9px;
}
.btn-menu span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: black;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.btn-menu.open span:nth-child(1), .btn-menu.open span:nth-child(3) {
    -webkit-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -moz-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -o-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    -ms-transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    transform: translate(0px, 13px) rotate(-45deg) scalex(1.3);
    margin: 0;
    background-color: black !important;
}
.btn-menu.open span:nth-child(2) {
    height: 0;
    margin: 0;
}
.btn-menu.open span:nth-child(3) {
    -webkit-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -moz-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -o-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    -ms-transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    transform: translate(0px, 9px) rotate(45deg) scalex(1.3);
    background-color: black !important;
}
/* Основной контент */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.center {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}
.column {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.bold {
    font-weight: 600 !important;
}
.ex_b {
    font-weight: 800 !important;
}
.green {
    color: #45916b;
}
/* Шапка */
#main-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
#main-header .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 0;
}
.main-header_item {
    border-right: 1px solid #e1e1e1;
    padding: 5px 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.main-header_item:nth-child(1) {
    padding-left: 0;
}
.main-header_item:nth-last-child(1) {
    padding-right: 0;
    border: none;
}
.main-header_logo a img {
    display: block;
}
.main-header_text {
    font: 14px 'Gotham Pro', sans-serif;
    color: #ffa000;
    font-weight: 600;
}
#main-nav ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#main-nav ul li a, #main-nav ul li .modal-link {
    margin: 0 8px;
    font: 14px/24px "Gotham Pro", sans-serif;
    color: #a2a2a2;
    font-weight: 400;
    text-decoration: underline;
    transition: .2s color linear;
    display: block;
    border-bottom: none;
}
#main-nav ul li a:hover, #main-nav ul li a:focus, #main-nav ul li a:active, #main-nav ul li .modal-link:hover, #main-nav ul li .modal-link:focus, #main-nav ul li .modal-link:active {
    color: #ffa000;
}
.main-header_tel-wrap, .main-header_address-call {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-header_tel span {
    font: 16px "Gotham Pro", sans-serif;
    color: #696969;
    font-weight: 400;
}
.main-header_tel {
    display: block;
    margin-bottom: 10px;
    font: 16px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
}
.main-header_address {
    font: 14px/18px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
    word-wrap:break-word;
}
.main-header_tel-apps {
    text-align: right;
}
.main-header_tel-apps .main-header_tel {
    font-weight: 400;
}
.main-header_address-call {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.modal-link {
    font: 14px/18px "Gotham Pro", sans-serif;
    color: #ffa500;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: 1px dashed;
    cursor: pointer;
}
/* Экран 1 */
#section-1 {
    position: relative;
    margin: 119px -1000px 0;
    background: url("../img/section-1_bg.jpg") top center no-repeat;
    border-radius:0 0 50% 50%;
    overflow: hidden;
    -webkit-animation: anm1 10s linear infinite;
    animation: anm1 10s linear infinite;
}
@keyframes anm1 {
    0% {
        background-size: auto 100%;
    }
    25% {
        background-size: auto 110%;
    }
    50% {
        background-size: auto 120%;
    }
    75% {
        background-size: auto 110%;
    }
    100% {
        background-size: auto 100%;
    }
}
#section-1_items-wrap {
    min-height: 572px;
}
.section-1_title-photo {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: url("../img/U.png") 40px 70px no-repeat;
}
.section-1_title {
    padding: 70px 30px 0 0;
    height: 100%;
    min-width: 306px;
}
.section-1_title h1 {
    margin-top: 20px;
    margin-bottom: 55px;
    font: 24px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-1_title h1 span {
    font: 30px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-1_title p {
    position: relative;
    font: 48px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-1_title p::before {
    position: absolute;
    content: '';
    left: 0;
    top: -28px;
    width: 54px;
    height: 7px;
    background-color: #f89c10;
}
.section-1_title p span {
    position: relative;
    padding-left: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fda73b; /* Old browsers */
    background: -moz-linear-gradient(left, #fda73b 0%, #fb693d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fda73b 0%,#fb693d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fda73b 0%,#fb693d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.section-1_title p span::before {
    position: absolute;
    content: '';
    left: 3px;
    bottom: 3px;
    width: 96%;
    height: 1px;
    background-color: white;
}
.link-modal_btn, .btn-submit {
    position: relative;
    margin-top: 78px;
    width: 295px;
    height: 50px;
    font: 15px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(254, 90, 38, 0.3);
    -moz-box-shadow: 0px 0px 27px 0px rgba(254, 90, 38, 0.3);
    box-shadow: 0px 0px 27px 0px rgba(254, 90, 38, 0.3);
    background: #fda73b; /* Old browsers */
    background: -moz-linear-gradient(left, #fda73b 0%, #fb693d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fda73b 0%,#fb693d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fda73b 0%,#fb693d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.link-modal_btn span, .btn-submit span {
    position: relative;
    z-index: 1;
}
.link-modal_btn::before, .btn-submit::before {
    position: absolute;
    content: '';
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fb693d; /* Old browsers */
    background: -moz-linear-gradient(left, #fb693d 0%, #fda73b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fb693d 0%,#fda73b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fb693d 0%,#fda73b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: all .2s linear;
}
.link-modal_btn:hover::before, .btn-submit:hover::before {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.section-1_photo {
    margin-left: -87px;
    position: relative;
}
.section-1_photo_photo {
    position: relative;
    bottom: 0;
}
.section-1_photo_photo img {
    display: block;
}
.section-1_photo_desc {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.section-1_photo_desc-wrap {
    padding-top: 15px;
    width: 276px;
    background-color: rgba(248,156,16,.75);
}
.section-1_photo_desc-line {
    position: relative;
    width: 276px;
    height: 15px;
    background-color: rgba(248,156,16,.75);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.section-1_photo_desc-wrap .name {
    font: 20px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-1_photo_desc-wrap .desc {
    font: 14px/20px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 400;
}
.section-1_promo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 202px 60px 0;
    background: url("../img/quest.png") 30px 28px no-repeat rgba(0,0,0,.4);
}
.section-1_promo_quest img {
    display: block;
    height: 100%;
}
.section-1_promo_quest p {
    margin-left: 24px;
    margin-bottom: 54px;
    font: 20px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-1_promo_time_time .time, .section-4_promo_time_time .time {
    position: relative;
    font: 72px "Gotham Pro", sans-serif;
    color: #f89c10;
    font-weight: 600;
    background: -webkit-gradient(linear, left top, right top, from(#fda73b), color-stop(50%, #fb693d));
    background: -webkit-linear-gradient(left, #fda73b 0%, #fb693d 50%);
    background: -o-linear-gradient(left, #fda73b 0%, #fb693d 50%);
    background: linear-gradient(90deg, #fda73b 0%, #fb693d 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-1_promo_time_time .time::before {
    position: absolute;
    content: '';
    left: 0;
    top: -28px;
    width: 54px;
    height: 7px;
    background-color: #f89c10;
}
.section-1_promo_time_time .vertical, .section-4_promo_time_time .vertical {
    margin-left: 10px;
    font: 17px "Gotham Pro", sans-serif;
    color: #fb6a3d;
    font-weight: 600;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.section-1_promo_time_text span, .section-4_promo_time_text span {
    font: 24px "Gotham Pro", sans-serif;
    color: #f89c10;
    font-weight: 600;
    border-bottom: 1px solid;
}
.section-1_promo_desc {
    margin-top: 20px;
}
.section-1_promo_desc p {
    font: 12px/18px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 400;
}
/* Экран 2 */
#section-2 {
    width: 100%;
    margin: -70px 0 0;
    background: url("../img/section-2_bg.jpg") center 30px no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#section-2 .container {
    padding: 160px 30px 170px;
    min-height: 718px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.section-2_item.item-1 h2 {
    position: relative;
    margin-left: 54px;
    padding-left: 46px;
    font: 36px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
}
.section-2_item.item-1 h2::before {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: -28px;
    width: 54px;
    height: 7px;
    background-color: #f89c10;
}
.section-2_item.item-1, .section-2_item.item-2, .section-2_item.item-3, .section-2_item.item-4, .section-2_item.item-5, .section-2_item.item-6, .section-2_item.item-7 {
    font: 16px/24px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-2_item.item-1 span, .section-2_item.item-2 span, .section-2_item.item-3 span, .section-2_item.item-4 span, .section-2_item.item-5 span, .section-2_item.item-6 span, .section-2_item.item-7 span {
    font: 16px/24px "Gotham Pro", sans-serif;
    color: #596ade;
    font-weight: 600;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-2_item.item-1 img, .section-2_item.item-2 img, .section-2_item.item-3 img, .section-2_item.item-4 img, .section-2_item.item-5 img, .section-2_item.item-6 img, .section-2_item.item-7 img {
    display: block;
    margin-right: 30px;
}
.section-2_item.item-2 {
    min-width: 301px;
    margin-left: 267px;
    background: url("../img/section-2_item-1_bg.png") left center no-repeat;
}
.section-2_item.item-3 {
    min-width: 301px;
    margin-left: 145px;
    background: url("../img/section-2_item-2_bg.png") left center no-repeat;
}
.section-2_item.item-4 {
    min-width: 301px;
    margin-left: 70px;
    background: url("../img/section-2_item-3_bg.png") left center no-repeat;
}
.section-2_item.item-5 {
    min-width: 322px;
    margin-left: 174px;
    background: url("../img/section-2_item-4_bg.png") left center no-repeat;
}
.section-2_item.item-6 {
    min-width: 322px;
    margin-left: 22px;
    background: url("../img/section-2_item-5_bg.png") left center no-repeat;
}
.section-2_item.item-7 {
    min-width: 301px;
    margin-left: 36px;
    background: url("../img/section-2_item-6_bg.png") left center no-repeat;
}
/* Экран 3 */
#section-3 {
    width: 100%;
    background: url("../img/section-3_bg.jpg") top center no-repeat;
}
#section-3 .container {
    position: relative;
    min-height: 1008px;
    padding: 400px 0 0;
}
.section-3_desc-title {
    position: absolute;
    width: 1024px;
    height: 348px;
    top: -45px;
    left: 50%;
    padding: 20px;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    background: url("../img/section-3_desc-title_bg.png") top center no-repeat;
    background-size: 100% 100%;
}
.section-3_img {
    margin-top: -122px;
    margin-left: -10px;
}
.section-3_title {
    margin-top: 30px;
}
.section-3_title h2 span br {
    display: none;
}
.section-3_title h2 span, .section-4_desc h2 span, .section-5_title h2 span, .contacts-title h2 span {
    position: relative;
    margin-left: 54px;
    padding-left: 46px;
    font: 36px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
}
.section-3_title h2 span::before, .section-4_desc h2 span::before, .section-5_title h2 span::before, .contacts-title h2 span::before {
    position: absolute;
    content: '';
    top: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    left: -28px;
    width: 54px;
    height: 7px;
    background-color: #f89c10;
}
.section-3_text {
    margin-top: 25px;
}
.section-3_text p {
    padding-right: 10px;
    font: 15px/22px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 400;
}
.section-3_desc .link-modal_btn {
    margin-top: 35px;
}
.section-3_content .section-3_title {
    margin: 0 auto;
    text-align: center;
}
.section-3_content-wrap {
    margin-top: 70px;
}
.section-3_item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-3_item p {
    margin-left: 75px;
    margin-top: 20px;
    font: 20px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-3_item.item-1 {
    margin-left: 194px;
    min-width: 339px;
    min-height: 158px;
    background: url("../img/section-3_item-1_bg.png") left center no-repeat;
}
.section-3_item.item-2 {
    margin-left: 40px;
    min-width: 307px;
    min-height: 158px;
    background: url("../img/section-3_item-2_bg.png") left center no-repeat;
}
.section-3_item.item-3 {
    margin-left: -24px;
    min-width: 339px;
    min-height: 158px;
    background: url("../img/section-3_item-3_bg.png") left center no-repeat;
}
.section-3_item.item-4 {
    margin-left: 207px;
    min-width: 426px;
    min-height: 158px;
    background: url("../img/section-3_item-4_bg.png") left center no-repeat;
}
.section-3_item.item-5 {
    margin-left: 86px;
    min-width: 483px;
    min-height: 158px;
    background: url("../img/section-3_item-5_bg.png") left center no-repeat;
}
.section-3_item.item-6 {
    margin-left: 385px;
    min-width: 447px;
    min-height: 158px;
    background: url("../img/section-3_item-6_bg.png") left center no-repeat;
}
.section-3_item.item-7 {
    margin-left: 43px;
    min-width: 331px;
    min-height: 158px;
    background: url("../img/section-3_item-7_bg.png") left center no-repeat;
}
/* Экран 4 */
#section-4 {
    width: 100%;
    background: url("../img/section-4_bg.png") center bottom no-repeat;
}
#section-4 .container {
    padding: 0;
}
.section-4_desc {
    padding: 70px 30px 0;
}
.section-4_wrap {
    padding-top: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.section-4_left {
    width: 100%;
    background: url("../img/section-4_piramid-bg-girl.png") 342px bottom no-repeat,  url("../img/section-4_piramid-bg-icons.png") 10px top no-repeat;
}
.section-4_left_piramida {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    margin-left: -100px;
}
.section-4_left_piramida p {
    font: 15px/23px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
}
.section-4_left_piramida .item-1 {
    padding-top: 90px;
    padding-left: 15px;
    height: 263px;
    text-align: center;
    background: url("../img/section-4_piramid-item-1_bg.png") center bottom no-repeat;
}
.section-4_left_piramida .item-2 {
    padding-top: 25px;
    padding-left: 15px;
    height: 148px;
    text-align: center;
    background: url("../img/section-4_piramid-item-2_bg.png") center bottom no-repeat;
}
.section-4_left_piramida .item-3 {
    padding-top: 25px;
    padding-left: 15px;
    height: 140px;
    margin-bottom: -5px;
    text-align: center;
    background: url("../img/section-4_piramid-item-3_bg.png") center bottom no-repeat;
}
.section-4_promo_desc {
    margin-top: 20px;
}
.section-4_promo_desc p {
    font: 12px/18px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 400;
}
/* Форма */
.form-wrap {
    width: 467px;
    padding: 0 35px;
    border-left: 1px solid #d8d8d8;
}
.form-title h2 {
    font: 62px "Gotham Pro", sans-serif;
    color: #f89c10;
    font-weight: 600;
}
.section-1_promo_time, .section-4_promo_time_time {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-4_promo_time_time .vertical {
    margin-left: -15px;
    height: 20px;
}
.section-4_promo_time_text span {
    border: none;
}
.form label {
    position: relative;
    margin-top: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.form label img {
    display: block;
    margin-right: 10px;
}
.form label span {
    font: 12px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: #8f8f8f;
}
.form input {
    display: block;
    width: 100%;
    padding: 10px 16px;
    font: 16px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    background: none;
    border: none;
    border-bottom: 1px solid;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.form p {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form p::after {
    position: absolute;
    content: '';
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 14px 0 rgba(251, 111, 61, 1);
    -moz-box-shadow: 0 0 14px 0 rgba(251, 111, 61, 1);
    -webkit-box-shadow: 0 0 14px 0 rgba(251, 111, 61, 1);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.form p:hover input {
    border-bottom: 1px solid rgba(251, 111, 61, 1);
}
.form p:hover::after {
    opacity: 1;
    visibility: visible;
}
.form p input::-webkit-input-placeholder {
    font: 16px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    opacity:1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.form p input::-moz-placeholder {
    font: 16px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    opacity:1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.form p input::-ms-input-placeholder {
    font: 16px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    opacity:1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.form p input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.form p input:focus::-moz-placeholder {
    opacity: 0;
}
.form p input:focus::-ms-input-placeholder {
    opacity: 0;
}
.form p input:hover::-webkit-input-placeholder {
    color: #fb753d;
}
.form p input:hover::-moz-placeholder {
    color: #fb753d;
}
.form p input:hover::-ms-input-placeholder {
    color: #fb753d;
}
.btn-submit {
    margin-top: 30px;
    margin-bottom: 30px;
}
.warning-wrap {
    padding-bottom: 30px;
}
.warning-wrap label {
    margin-top: 0;
}
.warning-wrap label input {
    width: auto;
}
.warning {
    margin-left: 15px;
    font: 12px/18px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: black;
}
/* Экран 5 */
#section-5 {
    position: relative;
    margin: 100px 0;
    width: 100%;
    background-color: #fcfcfc;
}
.section-5_bg {
    position: absolute;
    top: -90px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
#section-5 .container {
    position: relative;
    z-index: 1;
}
.section-5_left {
    position: relative;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.section-5_left .section-1_photo_photo img {
    display: block;
}
.section-5_right {
    padding: 80px 0 0 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.section-5_title {
    margin-bottom: 30px;
}
.section-5_title, .section-5_title_text_time {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-5_title_text_time {
    margin-left: 90px;
}
.section-5_title_text_time .time {
    margin-left: 20px;
    font: 60px "Gotham Pro", sans-serif;
    color: #f89c10;
    font-weight: 600;
    background: -webkit-gradient(linear, left top, right top, from(#fda73b), color-stop(50%, #fb693d));
    background: -webkit-linear-gradient(left, #fda73b 0%, #fb693d 50%);
    background: -o-linear-gradient(left, #fda73b 0%, #fb693d 50%);
    background: linear-gradient(90deg, #fda73b 0%, #fb693d 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-5_title_text_time .min {
    margin-left: 10px;
    font: 20px "Gotham Pro", sans-serif;
    color: #fc823c;
    font-weight: 600;
}
.section-5_desc p {
    margin-bottom: 30px;
    font: 16px/28px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 400;
}
/* Контакты */
#section-contacts .container {
    padding-top: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#section-contacts .main-header_tel-apps {
    text-align: left;
}
#section-contacts .main-header_tel-apps, #section-contacts .main-header_address-call, #section-contacts .main-header_tel-phones, #section-contacts .main-header_address, .address_title, .contacts-email  {
    margin-bottom: 20px;
}
.contacts-title h2 {
    margin-bottom: 20px;
}
.contacts-contacts {
    margin-left: 100px;
}
.address_title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.address_title p {
    font: 18px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
}
.address_title img {
    display: block;
    margin-left: 20px;
}
.contacts-email_email {
    font: 14px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;
}
#section-contacts .main-header_address {
    font: 18px "Gotham Pro", sans-serif;
    color: #5b5b5b;
    font-weight: 600;
}
.contacts-item.map {
    padding-bottom: 40px;
}
#slider_opinions {
    position: relative;
    width: 376px;
    height: 388px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.4);
}
.opinions_item {
    width: 376px;
    height: 384px;
}
.opinions_title {
    width: 100%;
    min-height: 95px;
    padding: 18px 25px;
    background: #fda73b; /* Old browsers */
    background: -moz-linear-gradient(left, #fda73b 0%, #fb693d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fda73b 0%,#fb693d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fda73b 0%,#fb693d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.opinions_name-age {
    margin-left: 24px;
}
.opinions_name-age .name {
    padding-bottom: 6px;
    font: 18px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid;
}
.opinions_name-age .age {
    padding-top: 6px;
    font: 16px "Gotham Pro", sans-serif;
    color: white;
    font-weight: 400;
}
.opinion_text {
    padding: 30px;
}
.opinion_text-title p {
    font: 16px "Gotham Pro", sans-serif;
    color: black;
    font-weight: 400;
}
.opinions_arrow-prev {
    display: none;
}
.opinions_arrow-next {
    position: absolute;
    padding-right: 25px;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
    background: url("../img/slider-arrow_next.png") right center no-repeat;
}
.opinions_arrow-next span {
    font: 14px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: #fc7b41;
}
.opinions_arrow-next img {
    margin-left: 10px;
}
#footer .container {
    margin-top: 70px;
    margin-bottom: 38px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#footer .rights {
    font: 14px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: #a5a5a5;
}
#footer .develop {
    font: 12px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: #6d6d6d;
}
#footer .develop a {
    font: 12px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: #f89c10;
}
/* Модалки */
.modal_wrap {
    position: relative;
    width: 594px;
    height: 612px;
    background: url("../img/modal-call_wrap.png") top left no-repeat;
    background-size: cover;
}
.close {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 1;
}
.close img {
    display: block;
    cursor: pointer;
}
button img {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px;
}
.modal {
    display: none;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal .form-wrap {
    width: auto;
    border-left: none;
    padding-top: 40px;
    margin-left: 200px;
}
#happy_modal .form-title h2, #call_modal .form-title h2 {
    font: 36px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: black;
}
#happy_modal .form-title p, #call_modal .form-title p {
    margin-top: 20px;
    font: 14px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: black;
}
#happy_modal .form-wrap, #call_modal .form-wrap {
    margin-left: 170px;
    padding-right: 0;
}
#happy_modal .form, #call_modal .form {
    padding-right: 30px;
}
#call_modal .modal_wrap {
    height: 554px;
    background: url("../img/modal-call_wrap.png") bottom left no-repeat;
}
#thx_modal {
    position: fixed;
}
#thx_modal .modal_wrap_content {
    overflow: hidden;
}
#thx_modal .modal_wrap {
    background: none;
    height: auto;
}
#thx_modal .form-title {
    text-align: center;
    background-color: #eaeaea;
}
#thx_modal .form-title p {
    margin: 30px 0 0;
    font: 36px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: black;
}
#thx_modal .form-title img {
    margin-top: 40px;
}
#thx_modal .form-line {
    position: relative;
    z-index: -1;
    margin: -155px -200px 0 -200px;
    height: 200px;
    background-color: #eaeaea;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#Impressum, #Datenschutz {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
}
#Impressum .close, #Datenschutz .close {
    right: 20px;
    top: 20px;
}
#Impressum .form-title, #Datenschutz .form-title {
    margin-bottom: 20px;
    font: 36px "Gotham Pro", sans-serif;
    font-weight: 600;
    color: black;
}
#Impressum .modal_wrap, #Datenschutz .modal_wrap {
    padding: 30px;
    width: auto;
    background: white;
}
.modal-tex div {
    margin: 20px 0;
}
.modal-text p {
    margin: 10px 0;
    font: 14px "Gotham Pro", sans-serif;
    font-weight: 400;
    color: black;
}

@media screen and (max-width: 1280px) {
    html.fixed {
        left: 0;
    }
    .modal_wrap {
        width: auto;
    }
    .main-header_text {
        display: none;
    }
    .main-header_item.header-logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .main-header_item.main-menu {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .main-header_item.main-header_contacts {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    #main-header .container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 12px 30px;
    }
    .main-header_address-call {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .main-header_tel-wrap, .main-header_address-call {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section-1_photo {
        margin-left: -27px;
    }
    .section-1_title p {
        font: 38px "Gotham Pro", sans-serif;
        font-weight: 600;
    }
    #section-1_items-wrap {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #section-2 {
        background: none;
    }
    #section-2 .container {
        padding: 140px 30px 50px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .section-2_item.item-1 {
        min-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-2_item.item-2, .section-2_item.item-3, .section-2_item.item-4, .section-2_item.item-5, .section-2_item.item-6, .section-2_item.item-7 {
        min-width: 50%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        margin-left: 0;
    }
    .section-2_item, .section-3_item {
        background-size: 100% 100% !important;
    }
    #section-3 {
        background-size: cover;
    }
    #section-3 .container {
        min-height: auto;
        padding: 50px 30px 0;
    }
    .section-3_content-wrap {
        margin-top: 50px;
    }
    .section-3_item {
        background-size: auto !important;
    }
    .section-3_item.item-1, .section-3_item.item-2, .section-3_item.item-3, .section-3_item.item-4, .section-3_item.item-5, .section-3_item.item-6, .section-3_item.item-7 {
        min-width: 50%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        margin-left: 0;
    }
    .section-3_desc-title {
        position: relative;
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .section-3_img {
        display: none;
    }
    .section-3_title {
        text-align: center;
    }
    .section-3_desc .link-modal_btn {
        display: block;
        margin: 35px auto;
    }
    .section-4_left_piramida {
        margin-left: 0;
    }
    .section-5_bg {
        display: none;
    }
    .contacts-item.contacts {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        width: 50%;
    }
    .contacts-item.map {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        width: 100%;
    }
    .contacts-item.opinions {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        width: 50%;
    }
    #slider_opinions {
        margin: 0 auto;
    }
    .contacts-title h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .section-1_photo {
        display: none;
    }
    #section-1_items-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-1_title-photo {
        background: url(../img/U.png) center 70px no-repeat;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .main-header_item.header-logo {
        width: 20%;
        float: 1 1 20%;
        border-right: none;
        order: 1;
    }
    .main-header_logo a img {
        margin: 0 auto;
    }
    .main-header_item.main-menu {
        -webkit-box-flex: 1;
        -ms-flex: 1 100%;
        flex: 1 100%;
        width: 100%;
        border-right: none;
        border-top: 1px solid #e1e1e1;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .main-header_item.main-header_contacts {
        padding-right: 0;
        border: none;
        width: 80%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
        flex: 1 1 80%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .main-header_tel-wrap, .main-header_address-call {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .main-header_tel-apps {
        margin-left: 0;
    }
    .main-header_address-call button {
        margin-left: 0;
    }
    #main-nav ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-3_title h2 span::before, .section-4_desc h2 span::before, .section-5_title h2 span::before, .contacts-title h2 span::before, .section-2_item.item-1 h2::before {
        display: none;
    }
    .section-3_title h2 span, .section-4_desc h2 span, .section-5_title h2 span, .contacts-title h2 span, .section-2_item.item-1 h2 {
        margin-left: 0;
        padding-left: 0;
    }
    .section-2_content-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section-2_item br {
        display: none;
    }
    .section-2_item.item-1, .section-2_item.item-2, .section-2_item.item-3, .section-2_item.item-4, .section-2_item.item-5, .section-2_item.item-6, .section-2_item.item-7 {
        min-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .section-3_content-wrap {
        margin-top: 30px;
    }
    .section-3_item br {
        display: none;
    }
    .section-3_item.item-1, .section-3_item.item-2, .section-3_item.item-3, .section-3_item.item-4, .section-3_item.item-5, .section-3_item.item-6, .section-3_item.item-7 {
        min-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        margin-left: 0;
    }
    .section-4_desc {
        padding: 70px 30px 0;
        text-align: center;
    }
    .section-4_wrap {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section-4_left {
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        background: none;
    }
    .section-4_left_piramida {
        margin-left: 0;
    }
    .section-4_right {
        padding-top: 50px;
    }
    .form-wrap {
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        padding: 0 35px;
        border-left: none;
    }
    #section-5 {
        margin: 50px 0 0;
        width: 100%;
        background-color: #fcfcfc;
    }
    .section-5_left {
        display: none;
    }
    .section-5_right {
        padding: 50px 0 0 35px;
    }
}

@media screen and (max-width: 900px) {
    #section-1 {
        border-radius: 0;
        background-size: cover;
    }
    #section-1_items-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section-1_title-photo {
        margin-right: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .section-1_title {
        padding: 70px 0 0;
        height: 100%;
        min-width: 306px;
    }
    .link-modal_btn {
        display: block;
        margin: 78px auto 50px;
    }
    .section-1_promo {
        padding: 202px 60px 30px;
        margin-bottom: 50px;
    }
    #section-2 {
        margin: 0;
    }
    #section-2 .container {
        padding: 50px 30px 50px;
    }
    #section-contacts .container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .contacts-item.opinions {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .contacts-item.contacts, .contacts-item.opinions {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        width: 100%;
    }
    .contacts-item.map {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        width: 100%;
        margin: 30px 0 0;
    }
}

@media screen and (max-width: 640px) {
    #overlay {
        z-index: 2;
    }
    #call_modal .modal_wrap,  .modal_wrap {
        background: white;
        height: auto;
    }
    #happy_modal .form-wrap, #call_modal .form-wrap {
        margin-left: 0;
        padding-right: 35px;
    }
    .modal .form-wrap {
        margin-left: 0;
    }
    #thx_modal .form-title p {
        font: 26px "Gotham Pro", sans-serif;
        font-weight: 600;
        color: black;
        padding: 0 20px;
    }
    .main-header_logo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .btn-menu {
        display: block;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    #main-header.open {
        overflow-y: auto;
        height: 100%;
    }
    .main-header_item.header-logo {
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-header_item.main-menu {
        display: none;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        border-bottom: 1px solid #e1e1e1;;
    }
    .main-header_item.main-header_contacts {
        display: none;
        margin-top: 10px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .main-header_tel-wrap, .main-header_address-call {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .main-header_tel-apps {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    .main-header_address-call button {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #main-nav ul {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #main-nav ul li {
        margin: 10px 0;
    }
    #section-4 .container {
        padding: 0 30px;
    }
    .section-4_desc {
        padding: 50px 30px 0;
     }
    .section-4_wrap {
        padding-top: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .section-4_left_piramida .item-1 {
        padding-top: 50px;
    }
    .section-4_left_piramida .item-1, .section-4_left_piramida .item-2, .section-4_left_piramida .item-3 {
        height: auto;
        background: none;
        margin-left: 0;
        text-align: left;
    }
    .section-4_left_piramida p {
        font: 15px/23px "Gotham Pro", sans-serif;
        color: black;
        font-weight: 600;
    }
    .section-4_left_piramida p br {
        display: none;
    }
    .form-title {
        text-align: center;
    }
    .form-title h2 {
        font: 42px "Gotham Pro", sans-serif;
        color: #f89c10;
        font-weight: 600;
    }
    .section-1_promo_time, .section-4_promo_time_time {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .section-1_promo_time_time .time, .section-4_promo_time_time .time {
        font: 62px "Gotham Pro", sans-serif;
        color: #f89c10;
        font-weight: 600;
    }
    .section-1_promo_time_text span, .section-4_promo_time_text span {
        font: 18px "Gotham Pro", sans-serif;
        color: #f89c10;
        font-weight: 600;
    }
    .btn-submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #section-5 {
        margin: 0;
    }
    .section-5_left {
        display: none;
    }
    .section-5_right {
        padding: 50px 0 0;
    }
    .section-5_title {
        margin-bottom: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section-5_title_text_time {
        margin-left: 0;
        margin-top: 30px;
    }
    #section-contacts .container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .address_title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #section-contacts .main-header_address br {
        display: none;
    }
    .contacts-contacts {
        margin-left: 0;
    }
    #section-contacts .main-header_tel-apps {
        text-align: center;
    }
    #slider_opinions {
        margin-top: 20px;
    }
    .modal_wrap {
        padding: 30px;
    }
    .modal {
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 30px;
    }
    .close {
        top: 20px;
        right: 20px;
    }
    #happy_modal .form, #call_modal .form {
        padding-right: 0;
    }
    #happy_modal .form-wrap, #call_modal .form-wrap {
        padding-right: 15px;
    }
    #happy_modal .form-title h2, #call_modal .form-title h2 {
        font: 26px "Gotham Pro", sans-serif;
        font-weight: 600;
        color: black;
    }
}

@media screen and (max-width: 440px) {
    #slider_opinions {
        width: 100%;
    }
    .opinions_item {
        width: 100%;
    }
    .form-wrap {
        padding: 0 15px;
    }
    .link-modal_btn, .btn-submit {
        width: 200px;
    }
}

@media screen and (max-width: 360px) {
    .section-3_title h2 span, .section-4_desc h2 span, .section-5_title h2 span, .contacts-title h2 span, .form-title h2, .section-2_item.item-1 h2 {
        margin-left: 0;
        padding-left: 0;
        font: 26px "Gotham Pro", sans-serif;
        color: black;
        font-weight: 600;
    }
    .section-1_title h1 {
        font: 20px "Gotham Pro", sans-serif;
        color: white;
        font-weight: 600;
    }
    .section-1_title h1 span {
        font: 24px "Gotham Pro", sans-serif;
        color: white;
        font-weight: 600;
    }
    .section-1_title p {
        font: 28px "Gotham Pro", sans-serif;
        font-weight: 600;
    }
    #section-2 .container {
        padding: 30px 30px 20px;
    }
    .section-2_item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: none !important;
    }
    .section-2_item img {
        max-width: 40px;
        margin-bottom: 20px;
    }
    #section-3 {
        background: none;
    }
    #section-3 .container {
        padding: 0 10px;
    }
    .section-3_title h2 span br {
        display: block;
    }
    .section-3_desc-title {
        padding: 10px;
        margin-bottom: 50px;
        background: #fcfcfc;
    }
    .section-3_title h2 span, .section-3_title h2 span, .section-4_desc h2 span {
        color: #f89c10;
    }
    .section-3_content-wrap {
        margin-top: 0;
    }
    .section-3_item {
        background: none !important;
        min-height: auto !important;
    }
    .section-3_item p {
        margin-left: 0;
        margin-top: 20px;
        font: 15px/22px "Gotham Pro", sans-serif;
        color: black;
        font-weight: 400;
    }
    #section-4 {
        background: #fcfcfc;
        padding-top: 30px;
    }
    #section-4 .container {
        padding: 0 10px;
    }
    .section-4_desc {
        padding: 0 10px;
    }
    .section-4_left {
        padding-bottom: 20px;
    }
    .section-4_left_piramida .item-1 {
        padding-top: 30px;
    }
    .section-4_right {
        padding-top: 30px;
        background: white;
    }
    .form-title h2 {
        font: 32px "Gotham Pro", sans-serif;
        color: #f89c10;
        font-weight: 600;
    }
    .section-5_right {
        padding: 30px 0 0;
    }
    #footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #footer .develop {
        margin-top: 20px;
    }
}